/* Estilos gerais */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #181818;
    color: #f0f0f0;
    line-height: 1.6;
  }
  
  /* Estilos para o topo */
  #topo {
    background-color: #282828;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    display: flex; 
    flex-direction: column;
    align-items: center;
  }
  
  /* Estilos para o header */
  header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  #photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  #name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  h2 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #e0e0e0;
  }
  
  #script {
    font-size: 16px;
    text-align: justify;
    text-align: center;
  }
  
  #script b {
    font-weight: bold; 
  }
  
  /* Estilos para o menu */
  #menu ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
  }
  
  #menu li {
    margin: 0 10px;
    background: gray;
    padding: 5px;
    border-radius: 5px;
    border: 1px black solid;
  }
  
  /* Estilos para a seção */
  section {
    padding: 20px;
    color: #e0e0e0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Estilos para as figuras */
  .secao1, .secao2, .secao3, .secao4 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }
  
  .secao1 i, .secao2 i, .secao3 i, .secao4 i { /* Usa 'i' para os ícones do Font Awesome */
    font-size: 30px; /* Define o tamanho dos ícones */
    margin-right: 10px; /* Espaçamento entre o ícone e o texto */
    color: #0099ff; /* Define a cor dos ícones */
  }
  
  .secao1 figcaption, .secao2 figcaption, .secao3 figcaption, .secao4 figcaption {
    margin-top: 5px;
    text-align: center;
  }
  
  /* Estilos para links */
  a {
    color: #0099ff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Estilos para o rodapé */
  #rodape {
    background-color: #181818;
    color: #f0f0f0;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  /* Responsividade */
  @media (max-width: 768px) { 
    /* Estilos para telas pequenas */
    #topo {
      padding: 10px;
    }
  
    #name {
      font-size: 20px;
    }
  
    #menu ul {
      flex-direction: column;
      align-items: center;
    }
  
    #menu li {
      margin: 5px 0;
    }
  
    .secao1, .secao2, .secao3, .secao4 {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 10px;
    }
  
    .secao1 i, .secao2 i, .secao3 i, .secao4 i { /* Define estilos para os ícones em telas pequenas */
      font-size: 24px; /* Reduz o tamanho do ícone */
    }
  }